{% extends "Political_Demographic_Layout.html" %}

{% set active_page = "Political_Demographic_Dropdown"%}

{% block title %}2016 Primary Election Dropdown{% endblock %}

{% block content %}
<script>
window.onload = function () {






var votingData = {
"Voting Party Demographic": [{
		click: votingChartDrilldownHandler,
		cursor: "pointer",
		explodeOnClick: false,
		innerRadius: "75%",
		legendMarkerType: "square",
		name: "Voting Party Demographic",
		radius: "100%",
		showInLegend: true,
		startAngle: 90,
		type: "doughnut",
		dataPoints: [
		{ y: {{demNumVote}}, name: "Democrats", color: "#0000ff" },
		{ y: {{repNumVote}}, name: "Republicans", color: "#ff0000" },
		{ y: {{NumVote}}, name: "N/A", color: "#b4b4b4" }
		]
	}],
	"Democrats": [{
		// color: "#0000ff",
		name: "Democrats",
		type: "pie",
		showInLegend: "true",
		legendText: "{label}",
		legendMarkerType: "square",
		dataPoints: [
		{{dDataPoints}}
		]
	}],
	"Republicans": [{
		// color: "#ff0000",
		name: "Republicans",
		type: "pie",
		showInLegend: "true",
		legendText: "{label}",
		legendMarkerType: "square",
		dataPoints: [
		{{rDataPoints}}
		]
	}]
};


var votingPartyDemographicOptions = {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Voting Party Demographic"
	},
	subtitles: [{
		text: "Click on Any Segment to Drilldown",
		backgroundColor: "#2eacd1",
		fontSize: 16,
		fontColor: "white",
		padding: 5
	}],
	legend: {
		fontFamily: "calibri",
		fontSize: 14,
		itemTextFormatter: function (e) {
			return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / ({{demNumVote}} + {{repNumVote}} + {{NumVote}}) * 100) + "%";
		}
	},
	data: []
};

var votingDrilldownedChartOptions = {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	data: []
};

var chart = new CanvasJS.Chart("chartContainer", votingPartyDemographicOptions);
chart.options.data = votingData["Voting Party Demographic"];
chart.render();

function votingChartDrilldownHandler(e) {
	chart = new CanvasJS.Chart("chartContainer", votingDrilldownedChartOptions);
	chart.options.data = votingData[e.dataPoint.name];
	chart.options.title = { text: e.dataPoint.name }
	chart.render();
	$("#backButton").toggleClass("invisible");
}

$("#backButton").click(function() {
	$(this).toggleClass("invisible");
	chart = new CanvasJS.Chart("chartContainer", votingPartyDemographicOptions);
	chart.options.data = votingData["Voting Party Demographic"];
	chart.render();
});

}
</script>

<button class="btn invisible" id="backButton">< Back</button>

<style>
  #backButton {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #2eacd1;
	color: white;
	position: absolute;
	top: 20%;
	left: 50%;
	cursor: pointer;
  }
  .invisible {
    display: none;
  }
</style>

<form action="/StateCounty">
  <select name="candidate">
    {{candidate}}
  </select>
  <br><br>
  <input type="submit">
</form>
<h1>{{c}}</h1>
<p>{{c_info}}</p>



<div id="chartContainer" style="height: 370px; width: 50%;"></div>
<div id="chartContainer2" style="height: 370px; width: 50%;"></div>

{% endblock %}
