{% extends "Political_Demographic_Layout.html" %}

{% set active_page = "Political_Demographic_States"%}

{% block title %}2016 Primary Election States & Counties{% endblock %}

{% block content %}

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Simple Column Chart with Index Labels"
	},
	data: [{
		type: "column", //change type to bar, line, area, pie, etc
		//indexLabel: "{y}", //Shows y value on all Data Points
		indexLabelFontColor: "#5A5757",
		indexLabelPlacement: "outside",
		dataPoints: [
			{{dVote}},
      {{rVote}}
		]
	}]
});
chart.render();

}
</script>

<form action="/State">
  <select name="state">
    {{state}}
  </select>
  <br><br>
  <input type="submit">
</form>
<h1>{{s}}</h1>
<form action="/State">
  <select name="counties">
    {{counties}}
  </select>
  <br><br>
  <input id="b" type="submit" name="state" value="{{s}}">
</form>
<h1>{{c}}</h1>
<p>{{c_fun_fact}}</p>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<style>
  h1{
    color: red;
  }
  #b{
    content: "Submit";
  }
</style>

{% endblock %}
