{% extends "Political_Demographic_Layout.html" %}

{% set active_page = "Political_Demographic_States"%}

{% block title %}2016 Primary Election States & Counties{% endblock %}

{% block content %}

<script>
window.onload = function () {

}
</script>

<form action="/State">
  <select name="state">
    {{state}}
  </select>
  <br><br>
  <input type="submit">
</form>
<h1>{{s}}</h1>
<form action="/State">
  <select name="counties">
    {{counties}}
  </select>
  <br><br>
  <input id="b" type="submit" name="state" value="{{s}}">
</form>
<h1>{{c}}</h1>
<p>{{c_fun_fact}}</p>

<style>
  h1{
    color: red;
  }
  #b{
    content: "Submit";
  }
</style>

{% endblock %}
